@import "colors";
.border1 {
  border: 1px solid #666;
}
.border2 {
  border:2px solid #666;
}

#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
}

#randomRange {
  background-color: $secondary;
  border: 1px solid black;
  color: white;
  padding: 5px;
}